development:
  adapter: mysql2
  database: openmrs
  host: localhost
  username: root
  password: password
  pool: 500
  
production:
  adapter: mysql2
  database: openmrs
  host: localhost
  username: root
  password: password
  pool: 500

openmrs_bart2_development:
  adapter: mysql2
  database: openmrs_mpc
  host: localhost
  username: root
  password: password
  pool: 500

openmrs_bart2_production:
  adapter: mysql2
  database: openmrs_mpc
  host: localhost
  username: root
  password: password
  pool: 500
